ul {
    list-style-type: none;
}

.btn_filtr, .btn_submit {
     width: 100%;
}

.btn_submit, .btn_submit:hover, .btn_submit:active {
    background-color: green;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

div.checkbox label{
    background-color: #00b3ee;
    height: 40px;
    display: block;
    width: 100%;
    line-height: 40px;
}
div.checkbox label input {
    margin-top: 14px;
}
div.checkbox {
    text-align: center;
    width: 100%;
}

form input {
    margin-top: 5px;
}