<form name="essenseform" onsubmit="ModelFilter__parseForm()">
    <ul>
        <li>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="sort_btn_book" name="sort_btn_book">Книги
                </label>
            </div>
        </li>
        <li>
            <div class="checkbox">
                <label>
                    <span><input type="checkbox" id="sort_btn_toy" name="sort_btn_toy">Игрушки</span>
                </label>
            </div>
        </li>
        <div class="form-group">
            <label class="control-label" for="inputDefault">Цена</label>
            <input type="number" step="0.01" class="form-control" placeholder="Цена от..." name="price_from">
            <input type="number" step="0.01" class="form-control" placeholder="Цена до..." name="price_to">
        </div>
        <div class="form-group">
            <label class="control-label" for="inputDefault">Год выпуска</label>
            <input type="number" step="0.01" class="form-control" placeholder="1900..." name="year_from">
            <input type="number" step="0.01" class="form-control" placeholder="...<%= new Date().getFullYear() %>"
                   name="year_to">
        </div>
        <div class="form-only-available">
            <span><b>Показать только в наличии</b></span>
            <li>
                <label>
                    <span><input type="checkbox" id="only_available" name="only_available">&nbspТолько в наличии</span>
                </label>
            </li>
        </div>
        <br>

        <div>
            <button type="submit" class="btn btn-primary btn_submit">
                Показать
            </button>
        </div>
    </ul>
</form>