<ul>
    <li>
        <button type="button" class="btn btn-primary btn_filtr" data-toggle="button" aria-pressed="false">
        Книги
        </button>
    </li>
    <li>
        <button type="button" class="btn btn-primary btn_filtr" data-toggle="button" aria-pressed="false">
        Игрушки
        </button>
    </li>
    <li>Цена <br>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Цена от...">
            <input type="text" class="form-control" placeholder="Цена до...">
        </div>
    </li>
    <li>Год выпуска <br>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Год от...">
            <input type="text" class="form-control" placeholder="Год до...">
        </div>
    </li>
</ul>